# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for Taupe
# @created 2022-11-18
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/mhucka/taupe
# =============================================================================

aenum      >= 3.1.0
commonpy   == 1.9.5
plac       == 1.3.5
rich       >= 12.6.0
setuptools == 58.3.0
sidetrack  >= 2.0.1
